__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.tox/
.venv/
venv/
ENV/
wandb/
notebooks/
*.ipynb
*.ipynb_checkpoints
pics/
poster/
slides/
README*.md
.git/
.gitignore
